body, html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/background.jpg");
}

.content {
  margin: 0 auto;
  width: 600px;
  padding-top: 400px;
}

.search input[type=text] {
  box-sizing: border-box;
  font-size: 20px;
  background: none;
  border: none;
  padding: 6px 10px;
  text-align: center;
  color: #fff;
  width: 100%;
}

.search input[type=text]:focus {
  outline: none;
}

.search .underline {
  height: 3px;
  width: 100%;
  border-radius: 5px;
  background-color: #fff;
}

.search .search-list {
  display: block;
  list-style: none;
}

.search .search-list li {
  display: inline-block;
  color: #fff;
  height: 40px;
}

.search .search-list li:after {
  background-color: #f00;
  padding-left: 2px;
  content: "";
  height: 40px;
}
