.search {
    input[type=text] {
        box-sizing: border-box;
        font-size: 20px;
        background: none;
        border: none;
        padding: 6px 10px;
        text-align: center;
        color: #fff;
        width: 100%;

        &:focus {
            outline: none;
        }
    }

    .underline {
        height: 3px;
        width: 100%;
        border-radius: 5px;
        background-color: #fff;
    }

    .search-list {
        display: block;
        list-style: none;

        li {
            display: inline-block;
            color: #fff;
            height: 40px;

            &:after {
                background-color: #f00;
                padding-left: 2px;
                content: "";
                height: 40px;
            }
        }
    }
}